<div class="questionnaire-leave-phone">
    <button type="button"
            class="btn-none questionnaire-leave-phone__btn-back"
        {{on 'click' this.closeSidePanel}} aria-label={{t 'buttons.close'}}>
        <span aria-hidden="true">{{inline-svg "/images/back-arrow.svg"}}</span>
     </button>

    <h1 class="heading-1--secondary">{{t 'questionnaire.leaveQuestionnaireTitle'}}</h1>
    <p class="questionnaire-popup__question">{{t 'questionnaire.leaveQuestionnaireQuestion'}}</p>
    <div class="questionnaire-leave-phone__buttons-container">
        <button type="button" class="btn-civ-black-reverse questionnaire-popup__btn" {{on 'click'
            @model.onLeaveQuestionnaire}}>
            {{t 'questionnaire.leaveQuestionnaireButton'}}
        </button>
        <button type="button" class="btn-civ-black questionnaire-popup__btn" {{on "click" this.closeSidePanel}}>{{t
            'questionnaire.cancelQuestionnaireButton'}}</button>
    </div>
</div>
