<div class="popup__content" role="dialog" aria-labelledby="accessibility-title">
	<div class="popup__header">
		<span/>
		<h1 id="accessibility-title" class="heading-1--quaternary popup__title" tabindex="0">{{t 'password.change.title'}}</h1>
		<PopupCloseButton @closePopup={{this.hideModal}} />
	</div>
	<form class="change-password-form" {{on 'submit' this.submitPopup}}>
		<LabelTextField
			@labelText={{t 'login.oldPassword'}}
			@id="oldPassword"
			@value={{this.oldPassword}}
			@placeholder={{t 'placeholder.oldPassword'}}
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.isOldPasswordValid)}}
			@errorMessage={{t 'login.passwordRequired'}} />
		<LabelTextField
			@labelText={{t 'login.newPassword'}}
			@id="newPassword"
			@value={{this.newPassword}}
			@placeholder={{t 'placeholder.newPassword'}}
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.isNewPasswordValid)}}
			@errorMessage={{t 'login.passwordRequiredLength'}} />
		<LabelTextField
			@labelText={{t 'login.newPasswordRepeat'}}
			@id="newPasswordRepeat"
			@value={{this.newPasswordRepeat}}
			@placeholder={{t 'placeholder.newPasswordRepeat'}}
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.arePasswordsMatch)}}
			@errorMessage={{t 'login.differentPasswords'}} />
		<div>
			<button type="submit" class="btn-civ-black change-password-form__submit-btn">
				{{t "buttons.changePassword"}}
			</button>
		</div>

	</form>
</div>
