<div class="reset-password" role="dialog" aria-labelledby="accessibility-title">
	<div class="reset-password-header">
		<span/>
		<h1 id="accessibility-title" class="heading-1--quaternary popup__title" tabindex="0">{{t 'pb.settings.passwordReset'}}</h1>
		<div class="reset-password-close"><PopupCloseButton @closePopup={{this.hideModal}} /></div>
	</div>
    <div class="new-password-text">{{t 'pb.settings.newPasswordText'}}</div>
	<form class="reset-form" {{on 'submit' this.submitPopup}}>
		<LabelTextField
			@id="newPassword"
			@value={{this.newPassword}}
			@placeholder={{t 'pb.settings.newPasswordRepeat'}}
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.isNewPasswordValid)}}
			@errorMessage={{t 'login.passwordRequiredLength'}} class="reset-password-newpassword"
			/>
			<span aria-hidden="true" class="reset-password-icons">{{inline-svg "images/resetpassword.svg"}}</span>
		<LabelTextField
			@id="newPasswordRepeat"
			@value={{this.newPasswordRepeat}}
			@placeholder={{t 'pb.settings.confirmYourNewPassword'}}
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.arePasswordsMatch)}}
			@errorMessage={{t 'login.differentPasswords'}} class="confirm-new-password"/>
			<span aria-hidden="true" class="reset-password-icon">{{inline-svg "images/resetpassword.svg"}}</span>
		<button type="button" {{on 'click' this.hideModal}} class="btn-cancel-reset-passsword">
			<div>
				
				<span class="reset-password-form__save-text">{{t "pb.settings.cancelResetPassword"}}</span>
			</div>
			{{#if this.showSpinner}}
				<Spinner/>
			{{/if}}
		</button>
		<button type="submit" class="btn-reset-password">
			
			<div>
				
				<span class="update-password-text">{{t "pb.settings.updatePassword"}}</span>
			</div>
			{{#if this.showSpinner}}
				<Spinner/>
			{{/if}}
		</button>
	</form>
</div>
