<div class="popup__loginform">
	<form {{on "submit" this.resetPassword}} class="login-password-lost-form">
		<h1>{{t 'password.recovery.title'}}</h1>
		<div class="login-password-lost-form__sub">
			<LabelTextField
			@redesign={{true}}
				@labelText={{t 'login.email'}}
				@id="email"
				@value={{this.email}}
				@placeholder={{t 'login.placeholder.email'}}
				@maxlength={{180}}
				@showErrorMessage={{and this.showErrorMessages (not this.isEmailValid)}}
				@errorMessage={{this.errorMessage}} />
			{{#if this.showEmailRequiredMessage}}
				<p class="login-form__error-message">{{this.errorMessage}}</p>
			{{/if}}
		</div>
		<SpinnerButton
			@submitType={{true}}
			@class="btn-civ-black login-password-lost-form__btn"
			@spinning={{this.showSpinner}}
		>
			<span aria-hidden="true">{{inline-svg "images/inbox.svg" class="icon icon--white"}}</span>
			<span>{{t 'password.recovery.sendResetLinkInMail'}}</span>
		</SpinnerButton>

	<div class="login-form__password-lost-btn__container">
		<button {{on 'click' this.onGotoLoginClick}} type="button" class="btn-none login-form__password-lost-btn">
				{{t 'login.goBackToLogin'}}
		</button>
	</div>

	</form>
</div>
