<div class="act-page">
  <div class="act-page__top-banner">
	  <div class="act-page__banner-overlay"></div>
<!--		  <div style="position:absolute; width: 100%;height: 100%;background: green;top: 0; left: 0"></div>-->
		  <CloudinaryImage  aria-hidden="true" @publicId={{this.model.issue.image}} @options={{hash format='png' transforms='q_auto,f_auto,c_fill'}} class="act-page__banner-image" />

		{{#if this.longBannerTitle}}
		  <h1 class="heading-1 long-banner-title act-page__title">
			  {{this.model.participationPack.title}}
		  </h1>
		{{else}}
		  <h1 class="heading-1 act-page__title">
			  {{this.model.participationPack.title}}
		  </h1>
		{{/if}}

		  <LinkTo @route="community.participation" class="act-page__route-button act-page__back-button btn-none" @models={{array @model.project.community.url @model.project.url}}>
			  <span aria-hidden="true">{{inline-svg "/images/white-arrow.svg" class="act-page__arrow-icon"}}</span>
			  <p class="act-page__text-back-button">{{t 'discussionPreview.projectBy'}} {{this.model.project.community.name}}</p>
		  </LinkTo>
  </div>
	<div class="act-page__content-container">
		<div class="act-page__main-content-wrapper">
			<div class="act-page__main-content">
				<div class="act-page__tabs-wrapper">
					{{#if (eq this.activeTab "discussion")}}
						<span class="btn-none act-page__tab-item act-page__tab-item--active" role="button" tabindex="0" aria-pressed="true"
							{{on 'click' (fn this.changeTab "discussion")}}>
              {{t 'ideaBox.discussionTab'}}
							{{#if (not this.model.issue.usersCanParticipate)}}
								<span class="act-page__closed-status">{{t 'participation.outcomes.closedStatus'}}</span>
							{{/if}}
            </span>
					{{else}}
						<span class="btn-none act-page__tab-item" role="button" tabindex="0" aria-pressed="false"
							{{on 'click' (fn this.changeTab "discussion")}}>
              {{t 'ideaBox.discussionTab'}}
							{{#if (not this.model.issue.usersCanParticipate)}}
								<span class="act-page__closed-status">{{t 'participation.outcomes.closedStatus'}}</span>
							{{/if}}
            </span>
					{{/if}}

					{{#if (eq this.activeTab "about")}}
						<span class="btn-none act-page__tab-item act-page__tab-item--active" role="button" tabindex="0" aria-pressed="true"
							{{on 'click' (fn this.changeTab "about")}}>
							{{t 'ideaBox.aboutTab'}}
						</span>
					{{else}}
						<span class="btn-none act-page__tab-item" role="button" tabindex="0" aria-pressed="false"
							{{on 'click' (fn this.changeTab "about")}}>
							{{t 'ideaBox.aboutTab'}}
						</span>
					{{/if}}

				</div>

				{{#if (eq this.activeTab "about")}}

					<ActAboutTab @issue={{this.model.issue}} />
				{{else}}
					<ContributionAddForm @issue={{this.model.issue}} @onCommentSaved={{this.refeshCommentsList}} />
					{{#if (and this.model.issue.outcome (not this.model.issue.usersCanParticipate) )}}
						<OutcomeCard/>
					{{/if}}

					<FilterToolbar
						@themesList={{this.model.issue.themes}}
						@onSortItems={{this.sortContributions}}
						@onApplyFilters={{this.applyFilters}}
						/>

					{{#each @model.comments as |comment|}}
					<!-- Here I added a check if the comment has an issue else it displays also the replies -->
						{{#if comment.issue}}
						<ContributionItem::PreviewDesktop @comment={{comment}} @model={{this.model}}>
						</ContributionItem::PreviewDesktop>
						{{/if}}
					{{/each}}
					<Pagination @pagedContent={{@model.comments}} />
				{{/if}}
			</div>
		</div>
		<div class="act-page__side-info">
			<!--		//Go to settings button disabled for NOW //-->
			{{!--		<button class="btn-civ-black-reverse act-page__settings-button">Go to settings</button>--}}
			<ActSideInfo @issue={{this.model.issue}} @profiles={{this.model.profiles}} @assertions={{this.model.assertions}} />
		</div>
	</div>
</div>
