<div class="short-text-answer" {{did-insert this.setup}}>
	{{yield}}
	<Textarea
			class="short-text-answer__textarea"
			rows="7"
			@value={{this.textAnswered}}
			placeholder={{t 'questionnaire.addAnswerHere'}}
			maxlength={{250}}
			{{on 'focusout' this.handleAnswer}}
	/>

	<div class="counter">
		<span class="counter__number {{if (eq this.textAnswered.length 250 ) 'counter__number-limit'}}">{{minus 250 this.textAnswered.length}}</span>
	</div>
</div>

