<div class="assertion-item desktop">
			<div class="assertion-item__container desktop">
				<div class="assertion-item__info">
					{{html-safe @assertion.text}}
				</div>

				<div class="assertion-item__vote-ideas">
					{{#if @assertion.issue.usersCanParticipate}}
						{{#if @assertion.isUpvoted}}
							<span aria-hidden="true">{{inline-svg "/images/discussion/up-green-icon.svg"}}</span>
						{{else}}
							<button type="button" class="btn-none" {{on "click" this.upvoteAssertion}} aria-label="{{t "pb.accessibility.upvoteAssertion"}}">
								<span aria-hidden="true">{{inline-svg "/images/discussion/up-icon.svg"}}</span>
							</button>
						{{/if}}
						<div class="assertion-item__number-of-votes {{if @assertion.isUpvoted 'up-voted'}} {{if @assertion.isDownvoted 'down-voted'}}" title={{t 'accessibility.ratingAccessibilityInfo' number=@assertion.globalRelevancy}}>{{@assertion.globalRelevancy}}</div>
						{{#if @assertion.isDownvoted}}
							<span aria-hidden="true">{{inline-svg "/images/discussion/down-red-icon.svg"}}</span>
						{{else}}
							<button type="button" class="btn-none" {{on "click" this.downvoteAssertion}} aria-label="{{t "pb.accessibility.downvoteAssertion"}}">
								<span aria-hidden="true">{{inline-svg "/images/discussion/down-icon.svg"}}</span>
							</button>
						{{/if}}
					{{else}}
						<div class="assertion-item__number-of-votes {{if @assertion.isUpvoted 'up-voted'}} {{if @assertion.isDownvoted 'down-voted'}}">{{@assertion.globalRelevancy}}</div>
					{{/if}}

				</div>

			</div>
</div>
