<div class="projects-menu">
	{{#if this.communityHasProjects}}
		<div class="user-menu__title">
			{{t 'top-header.currentProjects'}}
		</div>
		{{#if this.activeProjects}}
			{{#each this.activeProjects as |project|}}
					<LinkTo @route="community.participation" @models={{array project.community.url project.url}} class="link-btn user-menu__item user-menu__item--border-none">
						{{project.name}}
					</LinkTo>
			{{/each}}
		{{else}}
			<div class="user-menu__explanation">
				{{t 'top-header.noCurrentProjects'}}
			</div>
		{{/if}}

		<div class="user-menu__seperator">
		</div>

		<div class="user-menu__title">
			{{t 'top-header.pastProjects'}}
		</div>

		{{#if this.notActiveProjects}}
			{{#each this.notActiveProjects as |project|}}
					<LinkTo @route="community.participation" @models={{array project.community.url project.url}} class="link-btn user-menu__item user-menu__item--border-none">
						{{project.name}}
					</LinkTo>
			{{/each}}
		{{else}}
			<div class="user-menu__explanation">
				{{t 'top-header.noPastProjects'}}
			</div>
		{{/if}}
	{{else}}
		<div class="user-menu__title">
			{{t 'top-header.currentProjects'}}
		</div>
		<div class="user-menu__explanation">
			{{t 'top-header.noCurrentProjects'}}
		</div>
		<div class="user-menu__seperator">
		</div>
		<div class="user-menu__title">
			{{t 'top-header.pastProjects'}}
		</div>
		<div class="user-menu__explanation">
			{{t 'top-header.noPastProjects'}}
		</div>
	{{/if}}
</div>
