<div class='homepage-testimonial-blocks__item' style='{{safe-cloudinary-url "static/homepage/auvergne-cityscape" width="800" height="500" transforms = "q_auto,f_auto,c_fill" format="jpg"}}'>
  <p class='homepage-testimonial-blocks__item__text'>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.auvergne.location'}}</span>
    <span class='homepage-testimonial-blocks__item__text__highlight'>{{t 'homepage.successes.auvergne.highlightedText'}}</span>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.auvergne.closing'}}</span>
  </p>
</div>
<div class='homepage-testimonial-blocks__item' style='{{safe-cloudinary-url "static/homepage/strasbourg-child" width="800" height="500" transforms = "q_auto,f_auto,c_fill" format="jpg"}}'>
  <p class='homepage-testimonial-blocks__item__text right-align'>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.strasbourg.location'}}</span>
    <span class='homepage-testimonial-blocks__item__text__highlight'>{{t 'homepage.successes.strasbourg.highlightedText'}}</span>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.strasbourg.closing'}}</span>
  </p>
</div>
<div class='homepage-testimonial-blocks__item' style='{{safe-cloudinary-url "static/homepage/north-holland-flowers" width="800" height="500" transforms = "q_auto,f_auto,c_fill" format="jpg"}}'>
  <p class='homepage-testimonial-blocks__item__text'>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.northHolland.location'}}</span>
    <span class='homepage-testimonial-blocks__item__text__highlight'>{{t 'homepage.successes.northHolland.highlightedText'}}</span>
    <span class='homepage-testimonial-blocks__item__text__default'>{{t 'homepage.successes.northHolland.closing'}}</span>
  </p>
</div>
