<div class="phone-page__content">
	<div class="activation__header">
		<button {{on 'click' this.closePage}} type="button" class="btn-close" data-dismiss="modal" aria-label="{{t 'buttons.close'}}">
			{{inline-svg "images/close.svg" class="icon-close"}}
		</button>
	</div>
	<div class="activation__container">
		<h1 class="heading-1--quaternary popup__title">{{t 'activation-popup.title'}}</h1>
		<p class="activation__message">{{t 'activation-popup.message'}}</p>
		{{#if this.isEmailSent}}
			<div class="activation__result-box">
				<span>{{t 'activation-popup.sentEmail'}} </span>
				{{inline-svg "images/check.svg" class="icon-small"}}
			</div>
		{{else}}
			<a href="#" class="link activation__link"
			{{on 'click' this.sendEmailConfirmation}}>{{t 'activation-popup.resendEmail'}}</a>
		{{/if}}
		{{#if this.isChangeEmailForm}}
			<form class="activation__form" {{on 'submit' this.changeEmail}}>
				{{#if this.user.isOlderUser}}	
					<LabelTextField 
						@labelText={{t 'activation-popup.password'}}
						@id="password" 
						@value={{this.password}}
						@placeholder={{t 'placeholder.password'}} 
						@maxlength={{255}}
						@type='password'
						@showErrorMessage={{and this.showErrorMessages (not this.isPasswordValid)}}
						@errorMessage={{if this.this.showForbiddenMessage (t 'activation-popup.wrongPassword') (t 'activation-popup.passwordRequired')}} />
				{{/if}}	
				<LabelTextField @labelText={{t 'activation-popup.email'}} @id="email" @value={{this.email}} @type='text'
					@placeholder={{t 'placeholder.email'}} @maxlength={{180}}
					@showErrorMessage={{and this.showErrorMessages (not this.isEmailValid)}}
					@errorMessage={{t 'activation-popup.emailRequired'}} />
				<button type="submit" class="btn-civ-black">{{t 'buttons.updateEmail'}}</button>
			</form>
		{{else}}
			{{#if this.isEmailUpdated}}
			<div class="activation__result-box">
				<span>{{t 'activation-popup.emailUpdated'}} </span>
				{{inline-svg "images/check.svg" class="icon-small"}}
			</div>
			{{else}}
			<a href="#" class="link activation__link"
				{{on 'click' this.showChangeEmailForm}}>{{t 'buttons.changeEmail'}}</a>
			{{/if}}
		{{/if}}
	</div>
</div>
