<div class="phone-page__content">
	<div class="phone-page__header">
		<span/>
		<h1 class="heading-1--quaternary" tabindex="0">{{t 'password.reset.title'}}</h1>
		<button {{on 'click' this.closePage}} type="button" class="btn-close" data-dismiss="modal" aria-label="{{t 'buttons.close'}}">
				{{inline-svg "images/close.svg" class="icon-close"}}
		</button>
	</div>
	<form class="reset-password-form" {{on 'submit' this.submitPopup}}>
		<LabelTextField 
			@labelText={{t 'login.newPassword'}}
			@id="newPassword" 
			@value={{this.newPassword}}
			@placeholder={{t 'placeholder.newPassword'}} 
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.isNewPasswordValid)}}
			@errorMessage={{t 'login.passwordRequiredLength'}} />	   
		<LabelTextField 
			@labelText={{t 'login.newPasswordRepeat'}}
			@id="newPasswordRepeat" 
			@value={{this.newPasswordRepeat}}
			@placeholder={{t 'placeholder.newPasswordRepeat'}} 
			@maxlength={{255}}
			@type='password'
			@showErrorMessage={{and this.showErrorMessages (not this.arePasswordsMatch)}}
			@errorMessage={{t 'login.differentPasswords'}} />		   
		<button type="submit" class="btn-civ-black reset-password-form__btn-save">
			<div>
				{{inline-svg "images/inbox.svg" class="icon icon--white"}}
				<span class="reset-password-form__save-text">{{t "buttons.changePassword"}}</span>
			</div>
			{{#if this.showSpinner}}
				<Spinner/>
			{{/if}}
		</button>
	</form>
</div>