<div class="phone-page__content">
	<div class="phone-page__header">
		<span/>
		<h1 class="heading-1--quaternary" id="accessibilityHook2" tabindex="0">{{t 'password.recovery.title'}}</h1>
		<button {{on 'click' this.closePage}} type="button" class="btn-close" data-dismiss="modal" aria-label="{{t 'buttons.close'}}">
				<span aria-hidden="true">{{inline-svg "images/close.svg" class="icon-close"}}</span>
		</button>
	</div>
	<form class="recovery-form" {{on 'submit' this.submitPopup}}>
		<LabelTextField
			@labelText={{t 'login.email'}}
			@id="recoveryEmail"
			@value={{this.email}}
			@placeholder={{t 'placeholder.email'}}
			@maxlength={{180}}
			@showErrorMessage={{this.showEmailRequiredMessage}}
			@errorMessage={{t 'login.emailRequired'}}
			@onChange={{this.validateEmail}} />
		<button type="submit" class="btn-civ-black recovery-form__btn-send">
				<div>
					<span aria-hidden="true">{{inline-svg "images/inbox.svg" class="icon icon--white"}}</span>
					<span class="recovery-form__btn-text">{{t 'buttons.sendLink'}}</span>
				</div>
				{{#if this.showSpinner}}
					<Spinner/>
				{{/if}}
		</button>

	</form>
</div>
