{{! Header }}

<div class="simple-page">
  <div class="simple-page__content">
    <h1 class="heading-1 simple-page__title">{{t 'dataPrivacy.title'}}</h1>

    <div class="simple-page__section">
      <p class="simple-page__section__content">{{t 'dataPrivacy.intro'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2 simple-page__subtitle">{{t 'dataPrivacy.sections.1.title'}}</h2>
      <p class="simple-page__section__content__list">{{t 'dataPrivacy.sections.1.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2 simple-page__subtitle">{{t 'dataPrivacy.sections.2.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.2.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2 simple-page__subtitle">{{t 'dataPrivacy.sections.3.title'}}</h2>
      <p class="simple-page__section__content__list">{{t 'dataPrivacy.sections.3.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2 simple-page__subtitle">{{t 'dataPrivacy.sections.4.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.4.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.5.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.5.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.6.title'}}</h2>
      <p class="simple-page__section__content__list">{{t 'dataPrivacy.sections.6.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.7.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.7.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.8.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.8.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.9.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.9.content'}}</p>
    </div>

    <div class="simple-page__section">
      <h2 class="heading-2">{{t 'dataPrivacy.sections.10.title'}}</h2>
      <p class="simple-page__section__content">{{t 'dataPrivacy.sections.10.content'}}</p>
    </div>
  </div>
</div>
