<div class="how-it-works">
  <h1 class="how-it-works__title">
    {{t 'howItWorks.title'}}
  </h1>
  <h2 class="how-it-works__subtitle">
    {{t 'howItWorks.subtitle'}}
  </h2>

  <div class="how-it-works__card-container">

    <div class="how-it-works__card">
      <div class="how-it-works__card-image" aria-hidden="true">
        {{inline-svg "images/how-it-works/create.svg"}}
      </div>
      <div class="how-it-works__card-title">
        {{t 'howItWorks.createTitle'}}
      </div>
      <div class="how-it-works__card-explanation">
        {{t 'howItWorks.createExplanation'}}
      </div>
      <a target="_blank" rel="noopener noreferrer" href="https://guide.civocracy.org/hc/articles/360020980060" class="how-it-works__card-link">
        {{t 'howItWorks.learnMore'}} {{inline-svg "images/how-it-works/arrow.svg"}}
      </a>
    </div>

    <div class="how-it-works__card">
      <div class="how-it-works__card-image" aria-hidden="true">
        {{inline-svg "images/how-it-works/projects.svg"}}
      </div>
      <div class="how-it-works__card-title">
        {{t 'howItWorks.setupTitle'}}
      </div>
      <div class="how-it-works__card-explanation">
        {{t 'howItWorks.setupExplanation'}}
      </div>
      <a target="_blank" rel="noopener noreferrer" href="https://guide.civocracy.org/hc/articles/360021184500" class="how-it-works__card-link">
        {{t 'howItWorks.learnMore'}} {{inline-svg "images/how-it-works/arrow.svg"}}
      </a>
    </div>

    <div class="how-it-works__card">
      <div class="how-it-works__card-image" aria-hidden="true">
        {{inline-svg "images/how-it-works/modes.svg"}}
      </div>
      <div class="how-it-works__card-title">
        {{t 'howItWorks.modesTitle'}}
      </div>
      <div class="how-it-works__card-explanation">
        {{t 'howItWorks.modesExplanation'}}
      </div>
      <a target="_blank" rel="noopener noreferrer" href="https://guide.civocracy.org/hc/articles/360021206619" class="how-it-works__card-link">
        {{t 'howItWorks.learnMore'}} {{inline-svg "images/how-it-works/arrow.svg"}}
      </a>
    </div>

    <div class="how-it-works__card">
      <div class="how-it-works__card-image" aria-hidden="true">
        {{inline-svg "images/how-it-works/engage.svg"}}
      </div>
      <div class="how-it-works__card-title">
        {{t 'howItWorks.engageTitle'}}
      </div>
      <div class="how-it-works__card-explanation">
        {{t 'howItWorks.engageExplanation'}}
      </div>
      <a target="_blank" rel="noopener noreferrer" href="https://guide.civocracy.org/hc/articles/4402502886674" class="how-it-works__card-link">
        {{t 'howItWorks.learnMore'}} {{inline-svg "images/how-it-works/arrow.svg"}}
      </a>
    </div>

  </div>

  <div class="how-it-works__help">
    {{t 'howItWorks.help'}}
  </div>

</div>
