<div class="popup__content project-password-popup" role="dialog" aria-labelledby="accessibility-title">
	<div class="project-password-popup__top-container">
		<span id="accessibility-title" class="project-password-popup__title">
			{{t "community.project.passwordPopup.title"}}
		</span>
		<PopupCloseButton @closePopup={{this.closePopup}} />
	</div>
	<div class="project-password-popup__text">
		<LabelTextField
				@value={{this.password}}
				@type="password"
				@placeholder={{t 'community.project.passwordPopup.placeholder'}}
				@labelText={{t 'community.project.passwordPopup.label'}}
				@showErrorMessage={{this.showErrorMessage}}
				@errorMessage={{t 'community.project.passwordPopup.wrongPassword'}}
		/>
	</div>
	<div class="project-password-popup__button-container">
		<button type="button" class="btn-civ-black" {{on "click" this.accessProject}}>
			{{t 'community.project.passwordPopup.button'}}
		</button>
	</div>
</div>
