<div class="simple-page">
	<div class="simple-page__content">

	  <h1 class="heading-1 simple-page__title">{{t 'civIdentification.title'}}</h1>

	  <div class="simple-page__section">
	    <p class="simple-page__section__content">{{t 'civIdentification.content'}}</p>
	  </div>

	  <h2 class="heading-2 simple-page__title">{{t 'termsCond.title'}}</h2>

	 <div class="simple-page__section__content">
	    <h3 class="heading-3 simple-page__subtitle">{{t 'termsCond.sections.1.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.1.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3 simple-page__subtitle">{{t 'termsCond.sections.2.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.2.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3 simple-page__subtitle">{{t 'termsCond.sections.3.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.3.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.4.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.4.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.5.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.5.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.6.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.6.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.7.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.7.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.8.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.8.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.9.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.9.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.10.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.10.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.11.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.11.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.12.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.12.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.13.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.13.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.14.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.14.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.15.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.15.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.16.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.16.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.17.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.17.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.18.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.18.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.19.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.19.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.20.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.20.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.21.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.21.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.22.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.22.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.23.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.23.content'}}</p>
	  </div>

		<div class="simple-page__section">
	    <h3 class="heading-3">{{t 'termsCond.sections.24.title'}}</h3>
	    <p class="simple-page__section__content">{{t 'termsCond.sections.24.content'}}</p>
	  </div>
	</div>
</div>
